/* CALENDARIO  */
.complejoImagenContainer {
    display: flex;
    justify-content: center;
    height: 100%;
}
.complejoImagen {
    object-fit: cover;
    width: inherit;
    height: 50vh;
}

.complejoBotonReservar {
    width: 100px;
    background-color: #006400;
    border-radius: 20px;
    color: white;
}
.complejoBotonReservar:hover {
    background-color: white;
    color: #006400;
}

/* INPUT CALENDARIO */
.complejoAdminElegirFecha {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    width: 40vw;
    border-radius: 20px;
}

.complejoAdminLabel {
    font-size: 16px;
    margin-bottom: 10px;
}

.complejoAdminCalendario {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-color: #00b300;
    color: white;
}

input[type="date"]:focus {
    outline: none;
    border-color: #3498db;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

@media screen and (max-width: 700px) {
    .complejoDatos {
        grid-template-areas:
            "administrador administrador"
            "info info"
            "descripcion descripcion";
        grid-template-columns: 1fr;
    }
    .carrouselContainer {
        width: 100vw;
    }
    .complejoAdministrador {
        width: 100%;
    }
    .complejoElegirFecha {
        width: 60vw;
    }
}
/* MODAL SOLICITUD RESERVA */
.modalSRContainer {
    display: flex;
    padding: 0;
    gap: 20px;
}
/* Parte izquierda del modal */
.imagenRSModal {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
}
/* Parte derecha del modal */
.modalParteDerechaContainer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modalRSTitulo {
    font-family: "bebas";
    white-space: nowrap;
}
.solicitudReservaContainer {
    padding: 0 50px 20px 10px;
}
.ChipJugadores {
    cursor: pointer;
}
.jugadoresDeUnEquipoPendienteContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 10px 0 20px 0;
    margin: 10px 0;
    border: solid #333333 2px;
    width: 90%;
}
.opacity-0 {
    opacity: 1 !important;
}

.botonesModalSolicitudReservaContainer {
    display: flex;
    gap: 10px;
    padding-top: 20px;
}
