.busquedaJugadorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.busquedaJugadorFiltroNombre {
    margin: 50px 0 25px 0;
    width: 80vw;
}
.busquedaJugadorFiltros {
    display: flex;
    gap: 10px;
    white-space: nowrap;
}

.botonVerSolicitud {
    background-color: #333333;
    color: white;
    border-radius: 20px;
    width: 100px;
}