.complejoCardsContainer {
    height: 73vh;
    overflow-y: scroll;
    width: 50vw; 
}

/* CARDS */
.cardComplejo {
    background-color: #ffffff ;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 20px;
}

.botonesCardComplejos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
}

.cardComplejoTitulo {
    color: #006400;
}
.cardComplejoTexto {
    color: #333333;
}

.botonCardComplejo {
    color: #333333;
    border-color: #ffcc99;
}

.complejoCardDatos {
    display: flex;
    align-items: center;
    width: 100%;
}
.complejoCardImagen {
    width: 30%;
}