/* SECCION 1 */
.inicioSeccion1 {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    padding-left: 30px;
    background-image: url(/public/images/inicio/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.inicioSeccion1 h1 {
    font-size: 6.5rem;
    font-family: "bBigerOver";
}


.inicioColoreadoApp {
    color: #0E690C;
}

.inicioSeccionTitulo {

    font-size: 4rem;
    font-family: "bebas";
}
.inicioSeccion1Texto {
    font-family: "bebas";
    font-size: 2rem;
    width: 80%;
}

/* Seccion 2  */
.inicioSeccion2 {
    margin-top: 100px;
    height: 80vh;
}
.inicioSeccion2ConocenosCentrado {
    display: flex; 
    justify-content: center;
}
.inicioSeccion2Conocenos {
    display: flex; 
}
.inicioSeccion2ConocenosTexto {
    width: 60%;
    padding: 0 70px;
}
.inicioSeccion2ConocenosImagen {
    border-radius: 50%;
}
/* CARDS */
.cardInicio {
    width: 300px;
    height: 100%;
    border-radius: 30px;
}
.inicioCardBody {
    padding: 10px;
}
.InicioTituloCard {
    color:black;
    font-family: "bebas";
    letter-spacing: 1px;
    font-size: 1.2rem;
    padding-bottom: 10px !important;
}
.InicioTextoCard { 
}

/* Banner registro */
.inicioSeccionBanner {
    background-image: url(/public/images/inicio/banner.png);
    background-position: bottom;
    height: 80vh;
    margin-top: 25px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vh;
}
.inicioSeccionBannerTitulo {
    font-size: 2.5rem;
    font-family: "bebas";
}
.inicioSeccionCardsContainer {
    margin-top: 25px;
    min-height: 350px;
    gap: 30px;
}