.inicio {

}
/* Seccion 1 */

.inicioSeccion1 {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    padding-left: 30px;
    background-image: url(/public/images/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}


.inicioSeccion1 h1 {
    font-size: 7rem;
    font-family: "bBigerOver";
}

.inicioSeccion1 p{
    text-align: start;
    font-size: 4rem;
}

/* Seccion 2  */
.inicioSeccion2 {
    color: white;
    background-color: #4D4D4D;
}
.inicioSeccion2Titulo {
    padding-top: 20px;
    font-size: 4rem;
}
.inicioCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inicioCard {
    width: 350px;
    margin: 20px;
    padding: 10px;
}

.inicioCard img {
    height: 150px;
    width: 150px;
}