.inicio {
    background-color: #1a1a1a;
}
/* SECCION 1 */
.inicioSeccion1 {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    padding-left: 30px;
    background-image: url(/public/images/inicio/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white
}

/* Titulo seccion 1*/
.inicioSeccion1 h1 {
    font-size: 7rem;
    font-family: "bBigerOver";
}

.inicioSeccion1 p{
    text-align: start;
    font-size: 4rem;
}

.inicioColoreadoApp {
    color: orange;
}

.inicioSeccionTitulo {
    padding-top: 20px;
    font-size: 4rem;
}

/* Seccion 2  */
.inicioSeccion2 {
    color: #e0e0e0

}
.inicioSeccion2TextoContainer {
    background-color: #333232;
    margin: 20px 10vh;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 5px 10px 0px rgba(0,0,0,0.38);
}

.inicioSeccion2Container{}

.cardInicioSeccion2 {
    border: black 2px solid;

}

/* CARDS */
.cardInicio {
    width: 330px;
    border-radius: 30px;
}
.inicioCardBody {
    padding: 20px;
}
.InicioTituloCard {
    color:black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.22);
}
.InicioTextoCard { 
}

/* Banner registro */
.inicioBannerRegistrarse {
    height: 40vh;
    background-color: #6bfc6b;
}
.inicioBannerRegistrarseTitulo {

}