footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #383838;
    height: 50px;
    color: white;
}

.derechosFooter{
    font-size: 20px;
}

.redesFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.redesFooter p {
    margin: 0 78px 0 0 ;
}
.iconoFooter {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

  
@media (max-width: 800px){
    .footer {
        display: flex;
        flex-direction: column;
    }

    .derechosFooter{
        font-size: 10px;
        order: 2;
    }

    .redesFooter{
        font-size: 1rem;
        margin-left: 0px;
        order: 1;
    }
    .redesFooter p {
        margin: 0 50px 0 0 ;
    }
}

@media (max-width: 350px) {
    .redesFooter p {
        margin: 0 10px 0 0 ;
    }
}