/* FORMULARIO */
.formularioIngresoContainer {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    background-image: url(/public/images/inicio/image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 84.2vh;
}
.formularioIngresoTitulo {
    font-family: "bebas";
    letter-spacing: 3px;
}

.formularioIngresoContainer2{
    padding: 30px;
    background-color: rgba(129, 129, 129, 0.699);
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.formularioIngreso {
    display: flex;
    flex-direction: column;
}

.formularioIngresoLabel{
    padding: 10px;
    min-height: 40px;
    cursor: pointer;
    text-align: start;
}

.formularioIngresoInput {
    width: 100%;
    background-color: white;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
    border: solid transparent;
    color: black;
    border-radius: 20px;
}

.formularioIngresoInput:focus {
    border: 3px solid #006FEE;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formularioIngresoBoton{
    background-color: #006400; /* Naranja */
    color: #FFFFFF; /* Blanco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

/* Efecto hover */
.formularioIngresoBoton:hover {
    background-color: rgb(88, 243, 50); /* Naranja claro */
    transform: scale(1.05); /* Escala el botón al 105% de su tamaño original */
}

/* Efecto de clic */
.formularioIngresoBoton:active {
    background-color: #006FEE; /* Naranja oscuro */
    transform: scale(0.95); /* Escala el botón al 95% de su tamaño original cuando se hace clic */
}

/* RUTAS */
.ingresoRutas {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-end;
    color: white;
}
.ingresoRuta {
    text-decoration: none;
    color: white;
}
.ingresoRuta:hover {
    color:rgb(88, 243, 50);
}

.mensajeErrorIngreso {
    padding-top: 25px;
    color: black; 
    font-size: 1.2rem;
}