.bannerContainer {
    height: 30vh;
    background-image: url(/public/images/header/Banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.breadcrumbs {
    color:white;
    font-size: 3rem;
}