.formularioCrearEquipoContainer {
    display: flex;
    flex-direction: column;
}

.modalCEImgaenContainer{
    width: 20vw;
}
.modalCEImgaen{
    height:100%;
    border-radius: 20px 0 0 20px;
}

.formularioCrearEquipoContainer {
    padding: 0;
}
.modalReservaTextoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
